@tailwind base;
@tailwind components;
@tailwind utilities;


.root {
	--primary-color: #fad4d8;
	--secondary-color: #f2d7ee;
	--background-color: #A6A57A;
	--border-color: #0D1821;
	--text-color: #76697E;
	--link-color: #715980;
}

/* body {
	background: rgb(2,0,36);
	background: -moz-linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(255,175,204,1) 64%, rgba(255,200,221,1) 100%);
	background: -webkit-linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(255,175,204,1) 64%, rgba(255,200,221,1) 100%);
	background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(255,175,204,1) 64%, rgba(255,200,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ffc8dd",GradientType=1);
} */